doctype html
html(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- Der Title kann nun dynamisch vom Controller übergeben werden via #{title}
    title #{title} | BitBurg – herrlich herb, unknackbar stark
    //- Pfade in Express starten meist absolut vom public-Ordner (daher /css...)
    link(rel="stylesheet", href="/css/style.css")
    
  body
    //- --- HEADER / NAVBAR (Global) ---
    header.navbar
      .container
        a.logo(href="/")
          //- Pfade für Bilder auch absolut setzen
          img(src="/images/BitBurg_logo.jpg", alt="BitBurg Logo")
          span.logo-text BitBurg
        nav
          ul.nav-links
            li
              a(href="#") Wallet
            li
              a(href="#") Passwort-Generator
        .auth-buttons
          a.login-btn(href="#") Über Uns
          a.cta-btn(href="#") Konto erstellen
          a.Profil(href="#")
            img(src="/images/Profilbild.jpg", alt="Profil", width="60", height="60")
            span.Profil-text Profil

    //- --- DYNAMISCHER INHALT ---
    //- Hier wird der Inhalt der jeweiligen Unterseite (z.B. index.pug) reingeladen
    main
      block content

    //- --- FOOTER (Global) ---
    footer
      .container
        p &copy; 2026 Bitburg Manager. Alle Rechte vorbehalten.