<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bitburg - Password Wallet</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <script src="/js/wallet.js"></script>
    </head>


    <body id="wallet">
        <header>
            <div id="logo-section">
                <a class="logo" href="/"><img id="logo-img" src="/images/BitBurg_logo.png" alt="BitBurg Logo">
                <span class="logo-text">BitBurg - Wallet</span></a>
            </div>
            <a><i id="user-icon" class="fas fa-user user-icon profil"></i></a>
        </header>

        <div id="wallet-container">
            <div class="spacer"></div>
            <ul id="password-container">
                <li class="password-card">Paypal</li>
                <li class="password-card">Anki</li>
                <li class="password-card">Anki</li>
                <li class="password-card">Anki</li>

            </ul>
            <button id="add-button" class="fa-solid fa-plus"></button>
        </div>
       <footer>
            <p>&copy; 2026 Bitburg Manager</p>
       </footer> 
    </body>

        <form id="password-form" action="./addPassword" method="POST">
            <label for="name-input">Name:</label>
            <input id="name-input" class="inputbox" type="text">
            <label for="username-input">Benutzername/Email:</label>
            <input id="username-input" class="inputbox" type="text">
            <label for="password-input">Passwort:</label>
            <div id="password-group">
                <input id="password-input" class="inputbox" type="password">
                <button type="button" id="password-generator"><i class="fa-solid fa-shuffle"></i></button>
            </div>
            <div id="button-container">
                <button id="cancel-button">Abbrechen</button>
                <button id="add-password-button">Hinzufuegen</button>
            </div>
        </form>

        <form id="generator">
            <input class="inputbox" id="generated-password" type="text" readonly>
    
            <div class="generator-options">
                <div class="option-row">
                    <label for="pw-length">Length</label>
                    <input type="number" id="pw-length">
                    <p id="length-error">Länge muss mindestens 8 Zeichen lang sein.</p>
                </div>
                <div class="option-row">
                    <label for="up-case">A-Z</label>
                    <input type="checkbox" id="up-case">
                </div>
                <div class="option-row">
                    <label for="low-case">a-z</label>
                    <input type="checkbox" id="low-case">
                </div>
                <div class="option-row">
                    <label for="numbers">0-9</label>
                    <input type="checkbox" id="numbers">
                </div>
            </div>
            <button type="button" id="generate-btn">Passwort generieren</button>
            <button type="button" id="apply-btn">Passwort übernehmen</button>
        </form>
</html>