<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bitburg - Password Wallet</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/css/wallet_style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    </head>
    <body>
        <header>
            <div id="logo-section">
                <img id="logo-img" src="/public/images/BitBurg_logo-removebg-preview.png" alt="BitBurg Logo">
                <a id="logo-name">BitBurg - Wallet</a>
            </div>
            <i id="user-icon" class="fas fa-user user-icon testi"></i>
        </header>
        <div id="main-container">
            <div class="spacer"></div>
            <ul id="password-container">
                <li class="password-card">Paypal</li>
                <li class="password-back">
                </li>
                <li class="password-card">Paypal</li>
                <li class="password-card">Paypal</li>
                <li class="password-card">Paypal</li>
                <li class="password-card">Paypal</li>
                <li class="password-card">Paypal</li>
                <li class="password-card">Paypal</li>
                <li class="password-card">Paypal</li>
                <li class="password-card">Paypal</li>
                <li class="password-card">Paypal</li>
                <li class="password-card">Paypal</li>
                <li class="password-card">Paypal</li>
                <li class="password-card">Paypal</li>
                <li class="password-card">Anki</li>
                <li class="password-card">Pornhub</li>
            </ul>
            <button id="add-button" class="fa-solid fa-plus"></button>
        </div>
       <footer>
            <p>Bitburg &copy; 2026</p>
       </footer> 
       <script>
       </script>
    </body>
</html>